{$EXTERNAL_URL}
tls {$TLS_CONFIG}

# Docker can collect and process the logs
log stdout

# Requests for API subpaths go to the API server
proxy /api http://api-server:3000
proxy /explorer http://api-server:3000

# Sample SPAs are served from here
root /static/


