.App {
  margin: 2em;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #020 transparent #020 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* style to apply to all tables on site */
table {
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 640px;
  border-collapse:
          collapse; border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 1.5em;
    width: 6em;
} /* Make cells a bit taller and fixed width*/

th {
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {
  background: #FAFAFA; /* Lighter grey background */
  text-align: center; /* Center our text */
}

/* series results table styles
*/
.ysc-discard {
  color: #D0A0A0;
  text-decoration: line-through;
}

.ysc-qualified {
  background: #D0FAD0;
}

.ysc-container {
  max-width: 100%;
  max-height: 30em;
  overflow: scroll;
  position: relative;
}

.ysc-series_table {
  position: relative;
  border-collapse: collapse;
}

.ysc-series_table thead th {
  position: sticky;
  top: 0;
  color: #444;
}

.ysc-series_table thead th:first-child {
  left: 0;
  z-index: 1;
}

.ysc-series_table tbody th {
  position: sticky;
  left: 0;
  border-right: 1px solid #CCC;
}

.ysc-10em {
  width: 10em; /* wide column for individual */
}

.ysc-4em {
  width: 4em; /* narrower column for posn, races, score */
}

/* for full width clickable dividers
*/
.ysc-block {
  display: block;
  width: 100%;
  border: none;
  background-color: #A0CF90;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* for flex blocks
*/
.ysc-flexblock {
  width: 100%;
  border: 3px solid #FFFFA0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

.ysc-flexblock div {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
  white-space: nowrap;
  text-align: right;
}